minimum_pre_commit_version: "3.7.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/.*\.json$'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.3.3

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm exec eslint
        args:
          - --fix
          - --max-warnings=0
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        pass_filenames: true
